.head{
	position: relative;
  left: 400px;
  top: 30px;
}

.face {
	position: absolute;
	width: 250px;
	height: 280px;
  z-index: 1;
	background:BlanchedAlmond ;
  border-radius: 5rem 5rem 8rem 8rem;
}

.hair{
  position: absolute;
	width: 250px;
	height: 290px;
  border-radius: 5rem 5rem 4rem 4rem;
  background-color: DarkGoldenRod ;
}

.mechon1{
  position: absolute;
  width: 50px;
  height: 280px;
  top: 20px;
  z-index: 2;
  border-radius: 6rem 0 0 6rem;
  background-color:goldenrod;
}

.mechon2{
  position: absolute;
  width: 50px;
  height: 280px;
  top: 20px;
  left: 200px;
  z-index: 2;
  border-radius: 0 6rem 6rem 0;
  background-color:goldenrod;
}

.right{
  position: absolute;
  left: 125px;
	width: 125px;
	height: 110px;
  z-index: 2;
  border-radius: 0 4rem 2rem 5rem ;
  background-color: goldenrod;
}

.left{
  position: absolute;
	width: 125px;
	height: 110px;
  z-index: 2;
  border-radius: 4rem 0 5rem 2rem;
  background-color: goldenrod;
}

.ojo {
 position: absolute;
 width: 50px;
 height: 50px;
 z-index: 3;
 background-color: white;
 border-radius: 100%;
 border-top: solid saddlebrown 2px;
 top: 110px;
}

#ojoD {
 left: 55px;
}

#ojoI {
 right: 55px;
}

.bola{
  position: absolute;
	width: 30px;
	height: 30px;
	background: #960;
	border-radius: 50%;
	top: 10px;
  left: 10px;
}

.pupila {
  position: absolute;
	width: 12px;
	height: 12px;
	background: white;
	border-radius: 50%;
  top: 5px;
}

.nas{
  position: absolute;
	width: 20px;
	height: 10px;
  z-index: 4;
	background: bisque;
	border-radius: 50px 50px 0 0;
  border-top: solid burlywood 4px;
	top: 170px;
	left: 115px;
}

.mouth{
  position: absolute;
	width: 80px;
	height: 40px;
  z-index: 5;
	background: Salmon;
	border-radius: 0 0 70px 70px;
  border-top: solid white 6px;
	top: 205px;
	left: 85px;
}

.neck {
	width: 60px;
	height: 40px;
	top: 260px;
  left: 95px;
	z-index: 6;
	position: relative;
  background-color: BlanchedAlmond;
}
.body{
  position: absolute;
  width: 100px;
  top: 300px;
  left: 5px;
  border-left: 70px solid SteelBlue ;
	border-right: 70px solid SteelBlue ;
	border-top: 60px solid BlanchedAlmond ;
}
